body{
    font family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
nav{
     background-color:#222;
     padding:20px;
     text-align: center;
    }
    nav h2{
        color: white;
        margin-bottom:15px;
    }
    nav a{
        color: white;
        text-decoration:none;
        margin:0 15px;
    }
    nav a:hover{
        color:#00bcd4;
    }
    section{
        padding:60px 20px;
        text-align: center;
    }
    section h2{
        color:#222;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        margin:10px;
        font-size:18px;
    }
    #home{
        background-color:#e8f4f8;
        padding:100px 20px;
    }
    #home h1{
        font-size:45px;
        margin-bottom: 10px;
    }
    #home h2{
        font-size: 24px;
        color:#00a0b0;
    }
    #home p{
        font-size:18px;
        max-width:600px;
        margin:20px auto;
        line-height:1.6;    
    }
    #about,
    #skills,
    #projects,
    #contact{
        background-color:white;
        margin:20px;
        border-radius:10px;
    }
    #about p{
        max-width:700px;
        margin:auto;
        line-height:1.6;
    }
    #skills li{
        display:inline-block;
        background-color:#e8f4f8;
        padding:12px 20px;
        margin:8px;
        border-radius:20px;
    }
    #projects h3{
        margin-top: 30px;
        color:#00a0b0;
    }
    #projects p{
        max-width:600px;
        margin:10px auto;
        line-height:1.6;
    }
    #contact p{
        font-size:17px;
        margin:12px;
    }
    @media(max-width: 600px){
        nav a{
            display: block;
            margin:10px;
        }
        #home h1{
            font-size:32px;
        }
        #home h2{
            font-size:20px;
        }
        section{
            padding: 40px 15px;
        }
        #about,
        #skills,
        #projects,
        #contact{
            margin:10px;
        }
    }

                                                                                                                        